@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');

/* DEFAULT
-----------------------------*/
body{
  margin: 0;
  padding: 0;
  color: #292b2c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: #f4f4f4;
}

a, a:hover{
  color: #ad3434;
  text-decoration: none;
}

input:focus,
button:focus,
select:focus{outline: none;}

button{cursor: pointer;}

/* GRID
-----------------------------*/
.clearfix:after,
.clearfix:before{
  content: "";
  display: block;
  clear: both;
}

[class*='grid-']{
  padding: 0 15px;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

.grid-70{width: 70%;}
.grid-50{width: 50%;}
.grid-30{width: 30%;}

@media only screen and (max-width: 1000px){
  [class*='grid-']{width: 100% !important;}
}

/* CONTAINER
-----------------------------*/
.container{
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
  min-height: 1px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1200px){
  .container{width: 1000px;}
}

@media only screen and (max-width: 1000px){
  .container{width:100%;}
}

/* TOP BAR
-----------------------------*/
#top-bar{
  position: fixed;
  top: 0;
  width: 100%;
  color: #ad3434;
  background: #fff;
  transition: all .88s ease;
  z-index: 99999999;
}

#top-bar.active{
  top: -100px;
}

/* LOGO */
.top-logo{
  padding: 15px 0 15px 15px;
  font-family: georgia, serif;
  font-size: 25px;
}

.top-logo i{
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

.top-logo img{
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}

@media only screen and (max-width: 1000px){
  .top-logo{text-align: center;}
}

/* SEARCH */
.top-search{
  display: inline-block;
  vertical-align: middle;
}

.top-search input{
  padding: 3px 5px;
  width: 150px;
  color: #ad3434;
  border: none;
  border-bottom: 1px solid #ad3434;
  transition: all 0.2s ease;
}

.top-search input:focus{
  outline: none;
  border-bottom: 3px solid #ad3434;
}

.top-search button{
  display: inline-block;
  margin: 0 15px 0 5px;
  padding: 5px;
  color: #ad3434;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background: none;
  border: 1px solid #ad3434;
  border-radius: 5px;
}

@media only screen and (max-width: 1000px){
  .top-search{
    display: block;
    padding: 15px 0;
    width: 100%;
    font-size: 20px;
  }
  .top-search input{width: 80%;}
  .top-search button{
    width: 18%;
    margin: 0;
  }
}

/* MENU */
#top-menu{
  text-align: right;
  transition: all .4s ease;
}

#top-menu a{ color: #ad3434;}

.menu-dropdown{
  display: inline-block;
  position: relative;
  padding: 18px 15px 10px 0;
}

.menu-dropdown_content{
  position: absolute;
  right: calc(50% - 100px);
  top: 60px;
  padding: 0px;
  width: 200px;
  text-align: left;
  font-size: 14px;
  background: #ad3434;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.menu-dropdown:hover .menu-dropdown_content{
  top: 50px;
  opacity: 1;
  z-index: 3;
  visibility: visible;
}

.menu-dropdown_content a{
  display: block;
  padding: 5px 15px ;
  color: #fff !important;
  border-bottom: 1px solid rgba(255,255,255,.1);
  transition: all 0.5s ease;
}

.menu-dropdown_content a:hover{background: rgba(255,255,255,.1)}
.menu-dropdown_content a:last-of-type{border: none}
.menu-dropdown_content .fa{margin: 0 5px 0 0; font-size: 11px;}

@media only screen and (max-width: 1000px){
  #top-menu{
    height: 0;
    text-align: center;
    overflow-y: auto;
  }

  #top-menu *{box-sizing: border-box;}

  .menu-dropdown{
    padding: 0;
    width: 100%;
  }
  .menu-dropdown_content,
  .menu-dropdown:hover .menu-dropdown_content{
    position: relative !important;
    top: 0;
    right: 0;
    width: 100%;;
    border-radius: 0;
    opacity: 1;
    visibility: visible;
  }

}

/* USER */
.top-user{
  margin: -3px 0 0 15px;
  float: right;
}

.top-user .menu-dropdown_content{right: 0;}

.top-user .user-image{
  display: inline-block;
  vertical-align: middle;
  margin: -5px 0 0 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 3px solid #fff;
  overflow: hidden;
  transition: all .4s ease;
}

.top-user:hover .user-image{
  border: 3px solid #ad3434;
}

.top-user .user-image img{
  width: 100%;
  height: auto !important;
}

@media only screen and (max-width: 1000px){
  .top-user{float: none; margin: 0;}
  .user-image{display: none;}
}

/* MOBILE MENU */
#mobile{
  display: none;
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 30px;
  cursor: pointer;
}

#top-menu.open{ height: 90vh !important;}
body.block{overflow: hidden;}

@media only screen and (max-width: 1000px){
  #mobile{display: block;}
}
