/* TEXT
-----------------------------*/
.main-text{
  margin-top: 120px;
  min-height: 100px;
}

.main-text h1{
  margin: 0;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.text-user.grid-50{
  position: relative;
  margin: 0 auto;
  text-align: center;
  float: none;
}

.text-user .user-inside{
  display: inline-block;
  position: relative;
  padding: 0 0 15px 0;
}

.text-user .user-image{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 100%;
  overflow: hidden;
}

.text-user .user-image img{
  width: 100%;
  height: auto !important;
}

.text-user .user-name{
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.text-user .user-info{
  position: absolute;
  top: 55px;
  left: calc(50% - 200px);
  padding: 15px;
  width: 400px;
  background: #fff;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease;
  box-shadow: 0 0 15px rgb(231, 231, 231);
  z-index: 99999;
}

.user-inside:hover .user-info{
  top: 50px;
  visibility: visible;
  opacity: 1;
}

.user-info span,
.user-info a{
  display: inline-block;
  padding: 5px 10px;
}

/* TEXT STATUS
-----------------------------*/
.text-status{
  padding: 15px 0;
  text-align: center;
}

.text-status span,
.text-status a{
  display: inline-block;
  padding: 0 5px;
  color: #292b2c;
}

.text-status .fa{vertical-align: middle; line-height: 12px;}
#kudos-status, #bookmark-status, .text-status label{cursor: pointer;}

.text-status .fa-heart,
.text-status .fa-heart-o {
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 10px;
  line-height: 10px;
}

/* HEART ANIMATION */

.fa-heart{
  text-align: center;
  animation: animation-heart linear .6s;
  animation-iteration-count: 1;
  -webkit-animation: animation-heart linear .6s;
  -webkit-animation-iteration-count: 1;
  -moz-animation: animation-heart linear .6s;
  -moz-animation-iteration-count: 1;
  transition: all .4s ease;
}
@keyframes animation-heart{
  0% {font-size: 14px;}
  30% {font-size: 23px;}
  60% {font-size: 14px;}
  80% {font-size: 19px;}
  100% {font-size: 14px;}
}
@-moz-keyframes animation-heart{
  0% {font-size: 14px;}
  30% {font-size: 23px;}
  60% {font-size: 14px;}
  80% {font-size: 19px;}
  100% {font-size: 14px;}
}
@-webkit-keyframes animation-heart {
  0% {font-size: 14px;}
  30% {font-size: 23px;}
  60% {font-size: 14px;}
  80% {font-size: 19px;}
  100% {font-size: 14px;}
}

/* SUBSCRIBE */
.subscribe-box{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 20px;
  height: 15px;
  background: #ccc;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.subscribe-box:before{
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #FFF;
  border-radius: 100%;
  transition: all .2s ease;
}

.text-status span input{display: none;}

input:checked + .subscribe-box:before{left: 16px;}
input:checked + .subscribe-box{background: #ad3434}

/* TEXT INFO
-----------------------------*/
#text-info{
  position: relative;
  margin: 0 0 15px 0;
  height: 120px;
  overflow: hidden;
  transition: all .4s ease;
}

#text-info a{
  display: inline-block;
  margin: 0 5px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#text-info h3{
  margin: 5px 0;
  padding: 10px 0;
  font-weight: 100;
  font-size: 19px;
  border-bottom: 1px solid #ccc;
}

#text-info span{
  display: block;
  padding: 5px;
}

#text-info .warnings a{
  color: #292b2c;
  font-weight: bold;
  border-bottom: 1px solid #292b2c;
}

#text-show{
  position: absolute;
  bottom: 0;
  display: block;
  margin: 20px 0 0 0;
  padding: 40px 0 0 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(180deg, rgba(244, 244, 244,.4) 0%, #F4F4F4 90%);
  border: none;
  cursor: pointer;
  z-index: 99;
}

/* TEXT COMMANDS
-----------------------------*/
.text-commands span{
  display: block;
  padding: 15px 0;
  text-align: center;
}

.text-commands span button {
    padding: 5px 10px;
    color: #fff;
    background: #ad3434;
    border: none;
    border-radius: 5px;
}

/* DOWNLOAD */
#download.grid-50{
  margin: 0px auto;
  height: 0;
  text-align: center;
  float: none;
  overflow: hidden;
  transition: all .4s ease;
}

#download button{
  padding: 5px 10px;
  color: #ad3434;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background: #ccc;
}

#download.active{
  height: 44px;
}

/* SHARE */
#share{
  padding: 0 15px 15px 15px;
  height: 0;
  overflow: hidden;
  transition: all .4s ease;
}

#share.active{height: 150px;}

#share .clearfix{
  padding: 15px 0;
  text-align: center;
}

#share img{
  display: inline-block;
  vertical-align: middle;
}

#share textarea{
  min-height: 90px;
}

/* CHAPTER */
.select_chapter{
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  color: #ad3434;
  border: 1px solid #ad3434;
  border-radius: 50px;
  cursor: pointer;
  float: none;
}

/* TEXT
-----------------------------*/
.text-control{
  padding: 15px 0;
  text-align: right;
}

.text-control button{
  display: inline-block;
  margin: 0 5px;
  color: #ad3434;
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#size-minus,
#size-plus,
#text .bottom button{
  padding: 5px 10px;
  width: 28px;
  color: #fff;
  background: #ad3434;
  border: none;
  border-radius: 5px;
}

#text .bottom button{width: auto !important;}

#text.hide b{font-weight: normal;}
#text.hide i{font-style: normal;}

#text .notes{
  margin: 15px 0;
  padding: 15px;
  background: #e7e7e7;
  border-radius: 15px;
}

#text .notes b{font-weight: bold !important;}

#text .bottom{
  padding: 15px 0;
  text-align: center;
}

#text .bottom select{margin: 0 auto 15px auto;}

#text .bottom-kudos{padding: 15px 0;}
